body {
  background: #333333;
  font-family: 'lucida grande';
  margin-top: 3em; }

h1, h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 0; }

h3 {
  font-size: 2em; }

p {
  line-height: 26px;
  padding: 0.6em; }

.nav {
  position: fixed;
  padding: 0.3em;
  left: 20px;
  width: 18em;
  background: white; }
  .nav li {
    list-style: none; }
  .nav ul {
    padding: 0;
    margin: 0; }
  .nav a {
    display: block;
    padding: 0.6em;
    text-decoration: none; }
    .nav a:hover {
      background: #4d81a0;
      color: #eee; }

code {
  background: #F2F2F2;
  display: block;
  padding: 1em;
  color: #4d81a0;
  font-size: 1.3em;
  border: 1px solid #e4e4e4;
  border-radius: 4px; }

.titles {
  margin-top: 2em;
  border-bottom: 1px solid #aaa;
  padding: 0.2em;
  font-size: 1.1em; }

.l-container {
  margin: 0 auto;
  position: relative;
  overflow: auto;
  height: 100%; }

.outer-wrap {
  margin: 0 auto;
  margin-left: 20em;
  max-width: 960px;
  background: #e6e6e6;
  padding: 0.5em;
  color: #333333; }

.wrapper {
  background: white;
  padding: 2em; }
